.card {
    max-width: 1200px;
    margin: auto;
}

.card_image {
    background-color: white;
    padding:9px;
    border-radius: 5px;
    position: relative;
    
}
.card_hover_content{
    position: absolute;
    inset: 0;
    display: none;
}
.card_hover_content:hover{
    display: block;
}

.movie_title {
    color: white;
}

.movie_year {
    color: #919191;
    margin: 0;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 65px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . .";
}