.header_container{
    background-color:#1d1d1d;
    color:#919191;
    padding:10px 0;
}

.header_content {
    max-width:1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu{
    display: flex;
    align-items: center; 
    gap: 20px;
}
.search_input_style{
    background-color: transparent;
    outline: none;
    border:2px solid #333;
    padding: 10px;
    border-radius: 50px;
}